
.idea/

RobotLibrary/Library/variables.py

RobotLibrary/Library/funciones.py

RobotLibrary/Library/tests_cases.xlsx

RobotLibrary/Library/test/login/borradorlogin.robot

RobotLibrary/Library/test/Registro/borrador_registro.robot

RobotLibrary/Library/test/login/pruebas.robot

RobotLibrary/Library/pycache/

RobotLibrary/Library/__pycache__/

src/

RobotLibrary/Tests/Login/geckodriver.log

RobotLibrary/Library/crearmail.py
