.idea/
RobotLibrary/Library/variables.py
RobotLibrary/Library/crearmail.py
RobotLibrary/Library/funciones.py
RobotLibrary/Library/tests_cases.xlsx
RobotLibrary/Library/test/login/borradorlogin.robot
RobotLibrary/Library/test/login/pruebas.robot
RobotLibrary/Library/pycache/
RobotLibrary/Library/__pycache__/
src/
canal/